body{
    font-family: 'Inter', sans-serif;
}
.preloader {
    height: 100vh;
    width: 100%;
    background: white;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader .text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 28px;
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    color: white;
}

body {
    background: black;
}

.logo-container {
    width: 100px;
}

.text-jaim {
    color: #d5ad61;
}

.counter-bouble {
    position: fixed;
    background-color: black;
    margin-left: 20px;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    bottom: 30px;
    right: 30px;
}

    /* Estilo original de Bootstrap fade */
    @media (prefers-reduced-motion: no-preference) {
        .fade-out {
            opacity: 1;
        }

        .fade-out.fade {
            transition: opacity 2s ease-in-out;
        }

        .fade-out.fade:not(.show) {
            opacity: 0;
        }
    }

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.counter-bouble {
    opacity: 0; /* Inicialmente, establece la opacidad en 0 para ocultar el div */
    transition: opacity 0.5s ease; /* Agrega una transición suave para el cambio de opacidad */
    /* Agrega otros estilos según sea necesario */
}

.show {
    opacity: 1; /* Muestra el div cambiando la opacidad a 1 */
}

.bg-jaim-primary {
    background-color: transparent;
    background-image: linear-gradient(180deg,#d5ad61 0%,#000 100%);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s infinite; /* Puedes ajustar la duración según tu preferencia */
}

.btn-jaim{
    background-color: red;
    color: white;
    border-radius: 40px;
    border: none;
}
.img-pay{
    width: 270px;
}

.flayer-img{
    width: 500px;
}

@media(max-width: 1250px) {
    .md-none{
        display: none;
    }
    .flayer-img{
        width: 300px;
    }
}

.img-good{
    width: 90px;
}

.bg-jaim-primary-gradient{
    background-color: transparent;
    background-image: linear-gradient(180deg,#d5ad61 0%,#000 100%);
}
@media(min-width: 600px){
    .card-who{
        min-height: 340px;
    }
}